div.ProjectItem
	height: 40px
	line-height: 40px
	font-size: 14px
	color: #777
	cursor: pointer
	position: relative
	padding-left: 20px
	transition: 200ms
	div.status
		position: absolute
		top: 50%
		left: 10px
		transform: translate(-50%, -50%)
		height: 5px
		width: 5px
		border-radius: 1px
		background-color: red
	&:hover
		background-color: #1D1D1D
	&.current
		background-color: #1D1D1D
		color: #AAA
		cursor: default
		span.indicator
			content: ' '
			display: block
			position: absolute
			right: 0
			top: 0
			height: 40px
			width: 1px
			background-color: #3DB9E7
			z-index: 200
		div.ProjectSide
			position: absolute
			top: 50%
			right: 0
			height: 40px
			width: 60px
			line-height: 40px
			transform: translateY(-50%)
			div.webpack
				height: 40px
				width: 30px
				display: inline-block
				position: relative
				img
					position: absolute
					height: 20px
					top: 50%
					left: 50%
					transform: translate(-50%, -50%)
					cursor: pointer
					filter: grayscale(1)
					transition: 300ms
					&:hover
						filter: grayscale(0)
				div.dots
					position: absolute
					left: 50%
					top: 50%
					height: 20px
					width: 20px
					border-radius: 50%
					transform: translate(-50%, -50%)
					img
						transition: 300ms
					&:hover
						img
							filter: brightness(1.5)
			div.toolbarHandler
				position: absolute
				top: -2px
				left: 50px
				z-index: 500
				
				div.toolbarContent
					top: 1px
					position: absolute
					left: 13px
					z-index: 600
					font-size: 12px
					width: 148px
					cursor: pointer
					z-index: 2
					padding-top: 5px
					img.highlight
						position: absolute
						top: 5px
						left: -11.5px
						z-index: 3
						display: none
					div
						font-size: inherit
						height: 30px
						line-height: 30px
						padding-left: 16px
						z-index: 4
						position: relative
						color: #777
						&:hover
							color: #AAA
							text-decoration: underline
							&:not(:first-of-type)
								background-color: #1D1D1D
							&:first-of-type
								~ img
									display: block
				//background-image: url("../Images/ToolbarContainer.svg")
