$header-bgcolor: #2a2a2a
$header-color: darken(white, 5%)
$header-height: 70px

$border-color: #3c3c3c

$main-height: calc(100vh - #{$header-height})

$side-bgcolor: #2a2a2a
$side-color: darken(white, 5%)

$main-bgcolor: #242424
$main-color: darken(white, 5%)

$project-font-color: #777


@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500')



@import _general
@import _loader
@import _projectItem

// @import './_loader'